= content_for :title do
  = @event.title

= content_for :description do
  = markdown(@event.abstract)

.container
  .row
    .col-md-12.page-header
      %h2
        = @event.title
        - if @event.subtitle
          %br
          %small
            = @event.subtitle
        - if can? :schedule, @conference
          = link_to "Schedule", schedule_conference_path(@conference.short_title), :class =>"btn btn-success pull-right"
        - if can? :edit, @event
          = link_to "Edit", edit_conference_program_proposal_path(@conference.short_title, @event), :class => "btn btn-mini btn-primary pull-right"
  .row
    .col-md-3
      %dl
        %dt Date:
        %dd= @event.start_time.strftime("%Y %B %e %H:%M") if @event.start_time
        %dt Type:
        %dd= @event.event_type.title
        %dt Duration:
        %dd= show_time(@event.event_type.length)
        %dt Room:
        %dd
          - if @event.room_id
            = @event.room.name
        %dt Language:
        %dd= @event.language if @event.language
        %dt Track:
        %dd
          - if @event.track_id
            %span.label{:style =>"background-color: #{@event.track.color};"}
              = @event.track.name
      - if @event.require_registration
        = link_to "Registration required!", new_conference_conference_registrations_path(@conference.short_title), :class => "btn btn-xs btn-warning"
      %dd#voting
        = render partial: 'voting'

    .col-md-9
      .row
        .col-md-10
          %div.objective
            = markdown(@event.objective)
          %hr
          %div.abstract
            = markdown(@event.abstract)
      - if !@event.proposal_additional_speakers.nil?
        .row
          .col-md-10
            %div
              %h3
                Speakers
              %p
                = @event.proposal_additional_speakers
      - if !@speaker.nil?
        .row
          .col-md-10
            .speakerinfo
              %h3
                %span by
                %span.notranslate
                  = link_to @speaker.name, user_path(@speaker.id)
                - if @speaker.affiliation?
                  %br
                  %span.muted
                    from
                    %span.notranslate= @speaker.affiliation
              -if @speaker.biography?
                = markdown(@speaker.biography)
          .col-md-2
            = image_tag @speaker.avatar(:square), width: 100, height: 100, :class => "img-responsive img-rounded"
      .row
        .col-md-10
          - if @event.commercials.empty?
            - unless @conference.commercials.empty?
              %br
              = render partial: 'shared/media_items', locals: { commercials: @conference.commercials }
          - else
            %br
            = render partial: 'shared/media_items', locals: { commercials: @event.commercials }
          %br
      .row
        .col-md-12
          ! <div id="discourse-comments" style="padding-top: 20px;"></div>
          ! <script type="text/javascript">
          !   DiscourseEmbed = { discourseUrl: 'https://forum.etalab.gouv.fr/',
          !   discourseEmbedUrl: 'https://ogpsummit.org#{ request.original_fullpath }' };
          !   (function() {
          !     var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          !     d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          !     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
          !   })();
          ! </script>
