.container
  .row
    .col-md-12
      .page-header
        %h1 Edit your profile
  .row
    .col-md-12
      = semantic_form_for(@user, url: user_path(@user.id)) do |f|
        = f.input :name, as: :string
        = f.input :nickname, as: :string
        = f.input :avatar
        = image_tag(@user.avatar(:square), height: 100, width: 100, title: "Yo #{@user.name}!", :alt => '')
        %br
        - if @user.avatar?
          %span Remove avatar
          = f.check_box :remove_avatar
        = f.input :affiliation, as: :string,
          hint: 'This could be a company, a user group, or nothing at all.'
        = f.input :biography, hint: markdown_hint(), input_html: { rows: 5, 'onkeyup' => "word_count(this, 'biography-count', 150)", data: { provide: 'markdown-editable' } }
        %p
          You have used
          %span#bio_length.notranslate 0
          words.  Biographies are limited to 150 words.
        %br
        %br
        = f.action :submit, as: :button, label: 'Update', button_html: {class: 'btn btn-primary'}
