<h1 class="text-center">Program for <%= @conference.title %></h1>
<form name="form" action="#" class="form-horizontal">
  <div class="form-group">
    <div class="col-md-6">
      <label for="trackFilter">Filter by tracks</label>
      <select name="track-filter" id="trackFilter" placeholder="Select tracks...">
        <option value="all">
          All tracks
        </option>
        <% @conference.program.tracks.each do |track| %>
          <option value="track-<%= track.name.parameterize %>">
            <%= track.name %>
          </option>
        <% end %>
        <option value="track-none">
          No track
        </option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="typeFilter">Filter by event types</label>
      <select name="type-filter" id="typeFilter" placeholder="Select event types...">
        <option value="all">
          All types
        </option>
        <% @conference.program.event_types.each do |event_type| %>
          <option value="type-<%= event_type.title.parameterize %>">
            <%= event_type.title %>
          </option>
        <% end %>
      </select>
    </div>
  </div>
</form>
<% @conference.program.events.confirmed.reverse_each do |event| %>
  <div style="margin: 40px 0;" class="conference track-<%= (event.track.nil? ? 'none' : event.track.name).parameterize %> type-<%= event.event_type.title.parameterize %>">
      
    <h3 class="notranslate">
      <%= link_to event.title, conference_program_proposal_path(@conference.short_title, event.id) %>
      <small>(<%= event.event_type.title %>)</small>
    </h3>
    <% if !event.subtitle.blank? %>
      <h5 class="notranslate"><em>
            <%= event.subtitle %>
      </em></h5>
    <% end %>
    <% if !event.track.nil? %>
      <p>
        <span class="label label-default" style="background-color: <%= event.track.color %>;">
          <%= event.track.name %>
        </span>
      </p>
     <% end %>
    <% if event.start_time %>
      <p><span><%= event.start_time.strftime("%A %d") %></span><span class="notranslate"> <%= event.start_time.strftime("%H:%M")%> &dash;
        <% if event.event_type 
          end_time = event.start_time + (60 * event.event_type.length) %>
          <%= end_time.strftime("%H:%M")%>
          <% end %></span>
        </p>
    <% end %>
    <h4>
      presented by <span class="notranslate"><%= event.speaker_names %></span>
    </h4>
    <p>
      <span class="notranslate"><%= truncate(event.abstract, :length => 400) -%></span>
      <span><%= link_to 'more', conference_program_proposal_path(@conference.short_title, @conference.program.id, event.id) if event.abstract.length > 400 %></span>
    </p>
  </div>
<% end %>
