<div id="schedule-content">
    <h1 class="text-center"> Schedule for <%= @conference.title %></h1>
    <% unless @conference.program.events.scheduled.any? %>
      <h3 class="text-center">Available in September</h3>
    <% end %>
    <ul class="nav nav-tabs">
      <% @schedule_dates.each do |date| %>
        <li <%= "class=active" if @schedule_dates.first == date %>>
          <%= link_to date.strftime("%A %d"), "#" + "#{date}", "data-toggle" => "tab" %>
        </li>
    <% end %>
    </ul>

    <div class="tab-content">
      <% @schedule_dates.each do |date| %>
        <div class="tab-pane <%= 'active' if @schedule_dates.first == date %>" id ="<%= date %>" >
          <table class="table-bordered" id="schedule">
            <tr>
              <th>Time</th>
              <% @rooms.each do |room| %>
                <th><%= room.name %></th>
              <% end %>
            </tr>

                <% span = {} %>
                <% @rooms.each do |room| %>
                  <% span[room.id] = 1 %>
                <% end %>

            <% conf_start = DateTime.parse("#{date} 09:00") %>
            <% conf_end = DateTime.parse("#{date} 21:00") %>

            <% while conf_start < conf_end %>
              <%-
                start_hour = conf_start.hour
                start_min = conf_start.min %>

              <tr>
                <td class="hour">
                  <% if start_min == 0%>
                    <strong><%= conf_start.strftime("%H:%M") %></strong>
                  <% else %>
                    <%= conf_start.strftime("%H:%M") %>
                  <% end %>
                </td>
                <% @rooms.each do |room| %>
                  <% events_for_date = @events.find_all {|e| e.room_id == room.id && e.start_time && e.start_time.to_date == date } %>
                  <% event = events_for_date.find_all{|e| e.start_time.hour == start_hour && e.start_time.min == start_min } %>
                  <% if !event.empty? %>
                    <% span[room.id] = event[0].event_type.length / 15 %>
                    <% if event[0].track
                      classsup = " track-" + event[0].track.id.to_s
                    else
                      classsup = ""
                    end%>
                      <td class="event<%= classsup %>" role="button" style="cursor: pointer" rowspan="<%= span[room.id]%>">
                          <div class="event-wrapper event-wrapper_<%= span[room.id]%>">
                              <div class="event-content">
                              <%= render partial: 'schedule_item', locals: {event: event, room: room, span: span} %>
                              </div>
                          </div>
                    </td>
                    <% span[room.id] = span[room.id] + 1 %>
                    <% elsif  span[room.id] > 1 %>
                      <% span[room.id] = ( span[room.id] - 1 ) if span[room.id] > 1 %>
                    <% end %>
                    <% if span[room.id] == 1 %>
                      <td>
                        <div class="event-wrapper event-wrapper_1"></div>
                      </td>
                    <% end %>
                <%end %>
              </tr>
              <% conf_start += 15.minutes %>
            <%end %>
          </table>
        </div>
      <% end %>
    </div>
</div>
<%= javascript_tag do %>
$(function() {
  // add a hash to the URL when the user clicks on a tab
  $('a[data-toggle="tab"]').on('click', function(e) {
    history.pushState(null, null, $(this).attr('href'));
  });
  // navigate to a tab when the history changes
  window.addEventListener("popstate", function(e) {
    var activeTab = $('[href=' + location.hash + ']');
    if (activeTab.length) {
      activeTab.tab('show');
    } else {
      $('.nav-tabs a[href=#<%= j @today %>]').tab('show');
    }
  });
});

$(function() {
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');
});

<% end %>
