-if @conference.venue.location?
  = render 'conference/venue_map'
-else
  .container
    .row
      .col-md-12
        %h2.text-center
          = "#{@conference.venue.city} / #{@conference.venue.country_name}"

    .row
      .col-md-6
        .thumbnail
          =image_tag("salle_pleyel.jpg", class: 'img-responsive img-rounded')
      .col-md-6
        %address
          %h1
            = "Salle Pleyel"
            %small= "Inauguration"
          = "252 Rue du Faubourg Saint-Honoré"
          %br
          = "75008, Paris"
          %br
          = "France"
          %br
          = link_to "See on map", "http://www.openstreetmap.org/node/1321749751", target: "_blank"

    .row
      .col-md-6
        .thumbnail
          =image_tag(@conference.venue.photo, class: 'img-responsive img-rounded') unless @conference.venue.photo.blank?
          - unless @conference.venue.description.blank?
            .caption
              = markdown(@conference.venue.description)
      .col-md-6
        %address
          %h1
            = @conference.venue.name
            %small= "Sessions and workshops"
          = @conference.venue.street
          %br
          = "#{@conference.venue.postalcode}, #{@conference.venue.city}"
          %br
          = @conference.venue.country_name
          %br
          = link_to "See on map", "http://www.openstreetmap.org/node/1738679786", target: "_blank"

    .row
      .col-md-6
        .thumbnail
          =image_tag("palais_tokyo.jpg", class: 'img-responsive img-rounded')
      .col-md-6
        %address
          %h1
            = "Palais de Tokyo"
            %small= "Sessions and workshops"
          = "13 Avenue du Président Wilson"
          %br
          = "75116, Paris"
          %br
          = "France"
          %br
          = link_to "See on map", "http://www.openstreetmap.org/way/79219351", target: "_blank"
