.container
  .row
    .col-md-12
      - if !current_user
        = render partial: 'devise/shared/sign_in_form_embedded'
      - elsif !@conference.user_registered?(current_user)
        %p
          you are not registred.
      - else
        = semantic_form_for(@registration, url: confirmupdate_conference_conference_registrations_path(@conference.short_title)) do |f| 
          %p.text-center{style: 'margin-top: 50px'}
            = f.action :submit, button_html: { value: 'Confirm your registration', class: 'btn btn-primary btn-lg', id: 'register' }
        %p.strong.text-center
          Or
        %p.text-center
          = link_to 'Unregister', conference_conference_registrations_path(@conference.short_title), method: :delete, class: 'btn btn-danger btn-lg', 'data-confirm' => 'Are you sure you want to unregister?'
