<p>English:</p>

<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Français :</p>

<p>Bienvenue <%= @email %>!</p>

<p>Vous pouvez confirmer l'adresse email de votre compte grâce au lien suivant:</p>

<p><%= link_to 'Valider votre compte', confirmation_url(@resource, confirmation_token: @token) %></p>
