<p>English</p>

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>Français</p>

<p>Bonjour <%= @resource.email %>!</p>

<p>Une demande de réinitialisation de mot de passe a été effectuée. Pour ce faire, merci de cliquer sur le lien ci-dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'avez pas effectué cette demande, veuillez ignorer ce message.</p>
<p>Votre mot de passe ne sera pas changé tant que vous n'avez pas cliqué sur le lien et créé un nouveau mot de passe.</p>
