.navbar.navbar-default.navbar-fixed-top{:role=>"navigation"}
  .container
    .navbar-header
      %button{"data-target"=>".navbar-collapse", "data-toggle"=>"collapse", :class=>"navbar-toggle", :type=>"button"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to '#OGP16 Summit', root_path, class: 'navbar-brand visible-xs', title: 'Open Governement Partnership - Global Summit - France 2016'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav#splash-nav
        %li
          = link_to "#OGP16 Summit", root_path, class: 'hidden-xs'
        %li.dropdown
          %a.dropdown-toggle{"data-toggle"=>"dropdown", "role"=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
            Agenda
            %span.caret
          %ul.dropdown-menu
            %li
              %a.smoothscroll{ href: conference_path('ogp-summit') + '/new_proposals' } Received Proposals
            %li
              %a.smoothscroll{ href: conference_path('ogp-summit') + '/schedule' } Program
            %li
              %a(href="/events/") Associated events
        %li.dropdown
          %a.dropdown-toggle{"data-toggle"=>"dropdown", "role"=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
            Participate
            %span.caret
          %ul.dropdown-menu
            %li
              %a.smoothscroll{ href: conference_path('ogp-summit') + '#venue' } Venue
            %li
              %a(href="/travel-information/") Travel information
            %li
              %a(href="/hotels-and-restaurants/") Hotels and restaurants
            %li
              %a(href="/faq/") FAQ
        %li.dropdown
          %a.dropdown-toggle{"data-toggle"=>"dropdown", "role"=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
            More Info
            %span.caret
          %ul.dropdown-menu
            %li
              %a(href="/about/") About OGP
            %li
              %a(href="/co-chairmanship/") Co-chairmanship
            %li
              %a(href="/news/") News
            %li
              %a(href="/press/") Press
            %li
              %a{href: (conference_path('ogp-summit') + "#social-media")} Contact
        %li
          %a.smoothscroll{ href: '/the-open-government-toolbox/' } OGP Toolbox
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", id: "current-user-detail"}
              - if not current_user.name.blank?
                #{current_user.name}
              -else
                #{current_user.email}
              = image_tag(current_user.avatar(:square), height: 18, width: 18, title: "Yo #{current_user.name}!", :alt => '')
              %b.caret
            %ul.dropdown-menu
              = render 'layouts/user_menu'
        - if can? :index, Comment
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                - if unread_notifications(current_user)
                  Notifications (#{unread_notifications(current_user).length})
                  %span.fa.fa-comment
                  %b.caret
                  %ul.dropdown-menu
                    - if unread_notifications(current_user).length > 0
                      %li.dropdown-header Last 5 Comments for:
                      - unread_notifications(current_user).limit(5).group_by{ |comment| comment.commentable}.each do |event, comments|
                        %li= link_to("#{event.title}(#{comments.count})", admin_conference_program_event_path(event.program.conference.short_title, event.id))
                      %li.divider
                      %li= link_to "See all unread Comments (#{unread_notifications(current_user).length})", admin_comments_path
                    %li= link_to 'See all Comments', admin_comments_path(anchor: 'all_comments')
      - else
        %ul.nav.navbar-nav.navbar-right
          - if CONFIG['authentication']['ichain']['enabled']
            %li{:class=> "#{active_nav_li(new_ichain_registration_path('user'))}"}
              = link_to(new_ichain_registration_path('user')) do
                %span.fa.fa-heart
                Sign Up
          - else
            %li{:class=> "#{active_nav_li(new_registration_path('user'))}"}
              = link_to(new_registration_path('user')) do
                %span.fa.fa-heart
                Sign Up
          %li.dropdown.visible-desktop
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.fa.fa-user
              Sign In
              %span.caret
            .dropdown-menu{:style => "padding: 17px; min-width: 225px;"}
              - if CONFIG['authentication']['ichain']['enabled']
                = form_tag User.ichain_login_url do
                  = text_field_tag 'username', nil, id: 'user_ichain_email_dd', placeholder: 'Username'
                  = password_field_tag 'password', nil, id: 'user_ichain_password_dd', placeholder: 'Password'
                  %button.btn.btn-success.btn-block Sign in
              - else
                = form_tag new_user_session_path do
                  = text_field_tag 'user[login]', nil, id: 'user_login_dd', placeholder: 'Username / E-Mail'
                  = password_field_tag 'user[password]', nil, id: 'user_password_dd', placeholder: 'Password'
                  %p.text-right
                    %small
                      Remember me
                      = check_box_tag 'user[remember_me]'
                  %button.btn.btn-success.btn-block Sign in
                  - unless omniauth_configured.empty?
                    .divider
                    %h6.text-center
                      or
                    = render 'devise/shared/openid_links'
                  %p.text-right
                    %br
                    %a.small.btn.btn-xs.btn-default{"data-toggle" => "collapse", "data-target" =>  "#navbar-devise-help"}
                      Need Help?
                    #navbar-devise-help.collapse
                      = render 'devise/shared/links'
                  %li.hidden-lg
                    = link_to('Sign In', new_user_session_path)
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.smoothscroll.notranslate{ href: 'https://en.ogpsummit.org/' } English
        %li
          %a.smoothscroll.notranslate{ href: 'https://fr.ogpsummit.org/' } Français
